﻿@page "/category/create/{type:int}"
@using Task_13_BlazorUI.Data
@using Common.DataTransferObjects
@using Common.ViewModels
@using Common.Enums
@inject CategoryService _categoryService

<h3>Створити категорію</h3>

<Category @ref="CategoryPageRef" CategoryElement="new CategoryElementVm(){CategoryType = CategoryType}"></Category>

<div>
    <button @onclick="() => CreateCategory()">Створити категорію</button>
    <button onclick="history.back()">Назад</button>
</div>
<div>
    @Message
</div>

@code {
    [Parameter]
    public int? Type { get; set; }
    private OperationType CategoryType { get; set; }
    private Category CategoryPageRef { get; set; }
    private string Message { get; set; }
    private bool? status { get; set; }

    private async Task CreateCategory()
    {
        try
        {
            CategoryCreateDto category = new CategoryCreateDto
            {
                Name = CategoryPageRef.CategoryElement.Name,
                CategoryType = CategoryPageRef.CategoryElement.CategoryType
            };

            var result = await _categoryService.CreateAsync(category);
            
            Message = $"Created new category with Id={result}";
        }
        catch (Exception e)
        {
            status = false;
            Message = $"Error: {e.Message}";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Enum.TryParse(Type.ToString(), out OperationType parsedType))
        {
            CategoryType = parsedType;
        }
        else
        {
            Message = $"Не корректне значення типу каnегорії: {Type}";
        }
    }
}
