﻿@page "/categories/{type:int}"
@using Common.ViewModels
@using Common.Enums
@using Task_13_BlazorUI.Data
@inject CategoryService _categoryService
@inject NavigationManager NavigationManager

<h3>Категорії</h3>

@if (CategoryList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var category in CategoryList)
    {
        <div>
            <a href="">@category.Name</a>
        </div>
        <div>
            <button onclick="@(()=>NavigationManager.NavigateTo($"/category/update/{category.Id}"))">Змінити</button>
            <button onclick="@(()=>DeleteCategoryAsync(category.Id))">Видалити</button>
        </div>
        @*<CategoryListElement Category="category"></CategoryListElement>*@
    }
    <br/>
}

<div>
    <button onclick="@(()=>NavigationManager.NavigateTo($"/category/create/{(int)CategoryType}"))">Додати категорію</button>
    <button onclick="@(()=> NavigationManager.NavigateTo("/options"))">Назад</button>
</div>

@if (Error != null)
{
    <p>@Error</p>
}


@code {
    [Parameter]
    public int? Type { get; set; }
    private OperationType CategoryType { get; set; }

    private string Error { get; set; }

    public List<CategoryListVm> CategoryList { get; set; }
    

    private async Task DeleteCategoryAsync(int id)
    {
        if (id <= 0)
        {
            return;
        }

        try
        {
            var result = await _categoryService.SoftDeleteAsync(id);
            if (result)
            {
                CategoryList.Remove(CategoryList.Find(c => c.Id == id));
                StateHasChanged();
            }

        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Enum.TryParse(Type.ToString(), out OperationType parsedType))
        {
            CategoryType = parsedType;
        }
        else
        {
            Error = $"Не корректне значення можливого типу каnегорії {Type}";
            return;
        }

        CategoryList = await _categoryService.GetAllByTypeAsync(CategoryType);
        StateHasChanged();
    }
}
