﻿@page "/category/update/{id:int}"
@inject CategoryService _categoryService
@using Common.DataTransferObjects
@using Common.ViewModels
@using Task_13_BlazorUI.Data

<h3>Оновити категорію</h3>

@if (CategoryElement == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Category @ref="@CategoryPageRef" CategoryElement="CategoryElement"></Category>
    <div>
        <button @onclick="() => UpdateCategory()">Зберегти зміни</button>
        <button onclick="history.back()">Назад</button>
    </div>
}
<p>@Message</p>

@code {
    [Parameter]
    public int Id { get; set; }

    private Category CategoryPageRef { get; set; }
    private CategoryElementVm CategoryElement { get; set; }

    //private CategoryUpdateDto UpdatedCategory => new CategoryUpdateDto(
    //    Id: CategoryPageRef.CategoryElement.Id,
    //    Name: CategoryPageRef.CategoryElement.Name
    //    );

    private string Message { get; set; }
    

    private async Task UpdateCategory()
    {
        
        try
        {
            CategoryUpdateDto updatedCategory = new CategoryUpdateDto(
                Id: CategoryPageRef.CategoryElement.Id,
                Name: CategoryPageRef.CategoryElement.Name
                );

            var result = await _categoryService.UpdateAsync(updatedCategory);

            Message = result.ToString();
        }
        catch (Exception e)
        {
            Message = e.Message;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id <= 0)
            return;

        CategoryElement = await _categoryService.GetAsync(Id);
    }
}
