﻿@using Common.ViewModels
@using Common.DataTransferObjects
@using System.Reflection.Metadata

@*<h3>Account</h3>*@

<form class="update-form">

    <label for="name">Назва рахунку:</label> <br> 
    <input type="text" id="name" @bind-value="@AccountElement.Name" name="name"><br>
    <br>
    <input type="radio" checked="@AccountElement.VisibilityAtBalance" @onchange="@(()=>AccountElement.VisibilityAtBalance = true)">Видимий
    <input type="radio" checked="@(!AccountElement.VisibilityAtBalance)" @onchange="@(()=>AccountElement.VisibilityAtBalance = false)">Невидимий

</form>  

@code {
    [Parameter]
    public AccountElementVm AccountElement { get; set; }
}
