﻿@using Common.ViewModels
@using Common.Enums
@*<h3>Category</h3>*@

<form>
    <div>
        <input type="text" name="category_name" @bind-value="CategoryElement.Name">
    </div>
    <div>
        <label>Тип категорії:</label><br>
        <input type="radio" name="category_type" checked="@(CategoryElement.CategoryType == OperationType.Income)" disabled="@isTypeChangeDisabled">Дохід
        <input type="radio" name="category_type" checked="@(CategoryElement.CategoryType == OperationType.Expense)" disabled="@isTypeChangeDisabled">Розхід
    </div>
</form>

@code {
    private bool isTypeChangeDisabled = true;

    [Parameter]
    public CategoryElementVm CategoryElement { get; set; }
    
}
