﻿@using Common.ViewModels
@using Common.Enums
@using Task_13_BlazorUI.Data
@inject AccountService _accountService
@inject CategoryService _categoryService

@*<h3>FinOperation</h3>*@

@if (Accounts is null || Categories is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form>
        <div>
            <label for="date">Дата:</label>
            <input type="date" id="date" name="date" @bind="operation.Date">
        </div>

        <div>
            <label for="amount">Сума:</label>
            <input type="number" id="amount" name="amount" @bind="operation.Amount" step="0.01">
        </div>


        <div>
            <label for="operationType">Тип операції:</label>
            <input type="radio" name="operationType" value="Income" checked="@IsSelected(OperationType.Income)" @onchange="SetOperationType"/>Дохід
            <input type="radio" name="operationType" value="Expense" checked="@IsSelected(OperationType.Expense)" @onchange="SetOperationType"/>Розхід
        </div>
        <div>
            <label for="account">Рахунок:</label>
            <select id="account" name="account" @bind="operation.AccountId">
                @foreach (var account in Accounts)
                {
                    <option value="@account.Id">@account.Name</option>
                }
            </select>
        </div>
        <br>
        <div>
            <label for="category">Категорія:</label>
            <select id="category" name="category" @bind="operation.CategoryId">
                @foreach (var category in Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <br/>
        <div>
            <label for="description">Опис:</label><br>
            <textarea id="description" name="description" rows="4" cols="50" @bind="@operation.Description"></textarea><br><br>
        </div>
    </form>
}

@code {
    
    [Parameter]
    public FinOperationElementVm operation { get; set; }
    private List<AccountListVm> Accounts { get; set; }
    private List<CategoryListVm> Categories { get; set; }
    private OperationType SelectedOperationType { get; set; }

    private void SetOperationType(ChangeEventArgs e)
    {
        string selectedValue = e.Value.ToString();
        operation.OperationType = Enum.Parse<OperationType>(selectedValue);
        LoadCategories();
    }

    private bool IsSelected(OperationType operationType)
    {
        return operation.OperationType == operationType;
    }

    private async Task LoadCategories()
    {
        Categories = await _categoryService.GetAllByTypeAsync(operation.OperationType);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        Accounts = await _accountService.GetAllAsync();
        Categories = await _categoryService.GetAllByTypeAsync(operation.OperationType);
    }
}
