﻿@using Task_13_BlazorUI.Data
@using Common.ViewModels
@using Common.Enums
@inject ReportService _reportService
@inject NavigationManager _navigationManager
@*<h3>ReportUni</h3>*@

@if (PeriodReportVm is null)
{
    <p><em>Loading...</em></p>
}
else
{
    #region Table(old)

    @*<table>
        <thead onclick="@ShowDetails">
        <tr>
            <th>
                <span class="date">
                    @(isDayReport ? $"{PeriodReportVm.StartDate.ToShortDateString()}" : $"{PeriodReportVm.StartDate.ToShortDateString()} - {PeriodReportVm.EndDate.ToShortDateString()}")
                </span>
            </th>
            <th>
                <span class="income">@PeriodReportVm.TotalIncome грн.</span>
            </th>
            <th>
                <span class="expense">@PeriodReportVm.TotalExpenses грн.</span>
            </th>
        </tr>
        </thead>

        <tbody>
        @foreach (FinOperationListVm finOperation in PeriodReportVm.FinOperations)
        {
            <tr class="@(isDetailsVisible ? "" : "display-none")">
                <td colspan="3">
                    <table>
                        <tbody>
                        <tr @onclick="@(() => _navigationManager.NavigateTo($"/finoperation/update/{finOperation.Id}"))">
                            <td>
                                @(isDayReport ? $"{finOperation.Date.ToShortTimeString()}" : $"{finOperation.Date.ToShortDateString()}")
                            </td>
                            <td>@finOperation.Account.Name</td>
                            <td>@finOperation.Category.Name</td>
                            <td>@finOperation.Description</td>
                            <td class="@OperationTypeCheck(finOperation)">@finOperation.Amount грн.</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        </tbody>
    </table>

    

    @if (Message != null)
    {
        <p>@Message</p>
    }*@
    #endregion

    <details class="@(PeriodReportVm.FinOperations.Count>0 ? "general" : "hided")">

        <summary>
            <span class="date">
                @(isDayReport ? $"{PeriodReportVm.StartDate.ToShortDateString()}" : $"{PeriodReportVm.StartDate.ToShortDateString()} - {PeriodReportVm.EndDate.ToShortDateString()}")
            </span>
            <span class="expense">@PeriodReportVm.TotalExpenses  грн.</span>
            <span class="income">@PeriodReportVm.TotalIncome грн.</span>
        </summary>
        @foreach (FinOperationListVm finOperation in PeriodReportVm.FinOperations)
        {
            <div class="@(isDetailsVisible ? "list" : "display-none")">
                <div class="element" @onclick="@(() => _navigationManager.NavigateTo($"/finoperation/update/{finOperation.Id}"))">
                    <div class="dateTime">
                        @(isDayReport ? $"{finOperation.Date.ToShortTimeString()}" : $"{finOperation.Date.ToShortDateString()}")
                    </div>
                    <div class="account">@finOperation.Account.Name</div>
                    <div class="category">@finOperation.Category.Name</div>
                    <div class="description">@finOperation.Description</div>
                    <div class="@OperationTypeCheck(finOperation)">@finOperation.Amount грн.</div>
                </div>
            </div>
        }
    </details>

    @if (Message != null)
    {
        <p>@Message</p>
    }
}



@code {
    [Parameter]
    public DateTime StartDate { get; set; }

    [Parameter]
    public DateTime EndDate { get; set; }
    public PeriodReportVm PeriodReportVm { get; set; }
    private string Message { get; set; }
    private bool isDetailsVisible = true;
    private bool isDayReport;

    public void UpdateContent()
    {
        GetReport();
    }

    private async Task GetReport ()
    {
        try
        {
            PeriodReportVm = await _reportService.GetPeriodReport(StartDate, EndDate);
            if (PeriodReportVm is null)
            {
                Message = $"Error get period report returns null";
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            Message = e.Message;
        }
    }

    private void ShowDetails()
    {
        isDetailsVisible = !isDetailsVisible;
        StateHasChanged();
    }

    private string OperationTypeCheck(FinOperationListVm operation)
    {
        switch (operation.OperationType)
        {
            case OperationType.Income:
                return "income";
            default:
                return "expense";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (EndDate == default)
        {
            EndDate = StartDate.AddDays(1).Date.AddSeconds(-1); //отримуємо кінець поточного дня
            isDayReport = true;
        }

        await GetReport();
    }
}
