table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

thead tr {
    background-color: #f2f2f2;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.income {
    color: blue;
    float: right;
    display: inline-block;
    width: 100px;
}

.expense {
    color: red;
    float: right;
    display: inline-block;
    width: 100px;
}

.header {
    background-color: lightgray;
}

.element {
    margin: 10px;
}

.hided {
    display: none;
}

.amount {
    display: inline-block;
}

.dateTime {
    width: 10%;
    display: inline-block;
}

.account {
    width: 20%;
    display: inline-block;
}

.category {
    width: 20%;
    display: inline-block;
}

.description {
    width: 20%;
    display: inline-block;
}

.display-none {
    display: none;
}

.general {
    width: 70%;
}