﻿@page "/account/update/{id:int}"
@using Common.ViewModels
@using Common.DataTransferObjects
@using Task_13_BlazorUI.Data
@inject AccountService _accountService

<h3>Оновити рахунок</h3>

@if (AccountItem is null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <div>
        <Account AccountElement="AccountItem" @ref="AccountFormRef"></Account>
    </div>
    <div>
        <button @onclick="() => UpdateAsync(AccountFormRef.AccountElement)">Оновити дані</button>

        <button onclick="history.back()">Назад</button>
    </div>
}

@if (Result != null)
{
    <p>@Result</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private AccountElementVm AccountItem { get; set; }

    private Account AccountFormRef { get; set; }

    private string? Result { get; set; }


    protected override async Task OnInitializedAsync()
    {
        AccountFormRef = new Account();

        try
        {
            AccountItem = await _accountService.GetAsync(Id);
        }
        catch (Exception e)
        {
            Result = e.Message;
        }
    }

    private async Task UpdateAsync(AccountElementVm accountElement)
    {
        AccountUpdateDto accountUpdateDto = new AccountUpdateDto()
        {
            Id = accountElement.Id,
            Name = accountElement.Name,
            VisibilityAtBalance = accountElement.VisibilityAtBalance
        };

        try
        {
            var result = await _accountService.UpdateAsync(accountUpdateDto);
            Result = result.ToString();
        }
        catch (Exception e)
        {
            Result = e.Message;
        }
    }
}
