﻿@page "/account/create"
@using Common.DataTransferObjects
@using Common.ViewModels
@using Task_13_BlazorUI.Data
@inject AccountService _accountService
<style>
    .error {
        background-color: fuchsia
    }

    .success {
        background-color: aquamarine
    }

</style>

<h3>Створити новий рахунок</h3>

<div>@DateTime.Now.ToString()</div> <!-- this will show the current date and time -->

<div>
    <Account @ref="AccountFormRef" AccountElement="new AccountElementVm()"></Account>
</div>
<div>
    <button @onclick="() => CreateAccount(AccountFormRef.AccountElement.Name, AccountFormRef.AccountElement.VisibilityAtBalance)">
        Створити рахунок
    </button>
    
    <button onclick="history.back()">Назад</button>

</div>        


@if (NewAccountId.HasValue)
{
    <div class="success">Новий аккаунт з ID @NewAccountId створено успішно!</div>
}

@if (ErrorMessage != null)
{
    <div class="error">Помилка створення аккаунту: <p>@ErrorMessage</p></div>
}

@code {
    private Account AccountFormRef { get; set; }
    public int? NewAccountId { get; set; }
    public string? ErrorMessage { get; set; }

    public async Task CreateAccount(string name, bool isVisibleAtBalance)
    {
        if (name is null || name == String.Empty)
        {
            ErrorMessage = "Ім'я не може бути пустим";
            return;
        }

        AccountCreateDto newAccount = new AccountCreateDto() { Name = name, VisibilityAtBalance = isVisibleAtBalance };

        try
        {
           var result = await _accountService.CreateAsync(newAccount);

            ErrorMessage = null;
            NewAccountId = result;
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
            NewAccountId = null;
        }
    }
}
