﻿@page "/accounts"
@using Common.ViewModels
@using Task_13_BlazorUI.Data
@inject NavigationManager NavigationManager
@inject AccountService _accountService

<h3>Рахунки</h3>

@if (AccountsList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var account in AccountsList)
    {
        <p>
            <a href="">@account.Name</a>
        </p>
        <div>
            <button onclick="@(() => NavigationManager.NavigateTo($"/account/update/{account.Id}"))">Змінити</button>
            <button onclick="@(()=> DeleteAccountAsync(account.Id))">Видалити</button>
        </div>
        <br/>
        
    }
}
<br/>
<button onclick="@(()=>NavigationManager.NavigateTo("/account/create"))">Створити новий рахунок</button>
<button onclick="history.back()">Назад</button>


@code {
    private List<AccountListVm> AccountsList { get; set; }

    private async Task DeleteAccountAsync(int id)
    {
        try
        {
            var result = await _accountService.SoftDeleteAsync(id);

            if (result)
            {
                AccountsList.Remove(AccountsList.Find(acc => acc.Id == id));

                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        AccountsList = await _accountService.GetAllAsync();
    }
}
