﻿@page "/finoperation/update/{id:int}"
@using Task_13_BlazorUI.Data
@using Common.ViewModels
@using Common.DataTransferObjects
@inject FinOperationService _finOperationService

<h3>Оновити операцію</h3>

@if (Message != null)
{
    <p>@Message</p>
}

@if (FinOperationElement != null)
{
    <FinOperation @ref="FinOperationPageRef" operation="FinOperationElement"></FinOperation>

    <dev>
        <button @onclick="() => UpdateFinOperation()">Зберегти</button>
        <button onclick="history.back()">Назад</button>
    </dev>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private FinOperation FinOperationPageRef { get; set; }
    private FinOperationElementVm FinOperationElement { get; set; }
    private string Message { get; set; }

    private async Task UpdateFinOperation()
    {
        
        try
        {
            FinOperationUpdateDto updatedOperation = new FinOperationUpdateDto()
            {
                Id = FinOperationPageRef.operation.Id,
                Date = FinOperationPageRef.operation.Date,
                Amount = FinOperationPageRef.operation.Amount,
                OperationType = FinOperationPageRef.operation.OperationType,
                AccountId = FinOperationPageRef.operation.AccountId,
                CategoryId = FinOperationPageRef.operation.CategoryId,
                Description = FinOperationPageRef.operation.Description
            };

            if (Id != updatedOperation.Id)
            {
                Message = $"Unnown error (Id is not equals)";
                return;
            }

            var result = await _finOperationService.UpdateAsync( updatedOperation);

            Message = $"Update status: {result}";
        }
        catch (Exception e)
        {
            Message = $"{e.Message}";
        }
    }


    protected override async Task OnInitializedAsync()
    {
        if (Id <= 0)
        {
            Message = $"Error, Id={Id}";
        }

        try
        {
            FinOperationElement = await _finOperationService.GetAsync(Id);
        }
        catch (Exception ex)
        {
            Message = $"{ex.Message}";
        }
    }
}
