﻿@page "/finoperation/create"
@using Common.ViewModels
@using Common.DataTransferObjects
@using Task_13_BlazorUI.Data
@inject FinOperationService _finOperationService

<h3>Створити нову операцію</h3>

<FinOperation @ref="FinOperationPageRef" operation="new FinOperationElementVm(){Date = DateTime.Now}"></FinOperation>
<div>
    <button @onclick="() => CreateFinOperation()">Зберегти</button>
    <button onclick="history.back()">Назад</button>
</div>
<p>@Message</p>

@code {
    private FinOperation FinOperationPageRef { get; set; }
    private string Message { get; set; }

    private async Task CreateFinOperation()
    {
        try
        {
            FinOperationCreateDto newOperation = new FinOperationCreateDto()
            {
                AccountId = FinOperationPageRef.operation.AccountId,
                Amount = FinOperationPageRef.operation.Amount,
                CategoryId = FinOperationPageRef.operation.CategoryId,
                Date = FinOperationPageRef.operation.Date,
                Description = FinOperationPageRef.operation.Description,
                OperationType = FinOperationPageRef.operation.OperationType
            };

            var result = await _finOperationService.CreateAsync(newOperation);

            Message = $"Створено нову операцію з Id={result}";
        }
        catch (Exception e)
        {
            Message = $"Error {e.Message}";
        }
    }
}
