﻿@page "/MyHomePage"
@inject NavigationManager NavigationManager
@using System.Net.Http.Json
@using System.Text.Json.Serialization
@using System.Collections.Generic
@using Common.ViewModels
@using Task_13_BlazorUI.Pages
@using Task_13_BlazorUI.Shared

<h3>Зовнішній API</h3>
<button @onclick="@(() => NavigationManager.NavigateTo("/finoperation/create"))">Додати нову операцію</button>
<br/>
@foreach (DateTime date in Dates)
{
    <ReportUni @ref="@_reportRef" StartDate="@date"></ReportUni>
}

@code {
    private ReportUni _reportRef;
    private DateTime _currentDate;
    private List<DateTime> _dates;
    private const int FIRSMONTHTDAY = 1;

    public MyHomePage()
    {
        _currentDate = DateTime.Today;

        _dates = GetDatesListReversed (CurrendDate);
    }

    private DateTime CurrendDate
    {
        get => _currentDate;
        set => _currentDate = value;
    }

    private List<DateTime> Dates
    {
        get => _dates;
        set => _dates = value;
    }

    private List<DateTime> GetDatesListReversed(DateTime currentDate)
    {
        DateTime startDate = new DateTime(currentDate.Year, currentDate.Month, FIRSMONTHTDAY);
        DateTime endDate = new DateTime(currentDate.Year, currentDate.Month, currentDate.Day);

        List<DateTime> datesList = new List<DateTime>();
        TimeSpan interval = endDate - startDate;        

        for(int i = 0; i <= interval.Days; i++)
        {
            datesList.Add(startDate.AddDays(i));
        }

        datesList.Reverse();

        return datesList;
    }

    private async Task RefreshData()
    {
        Dates = GetDatesListReversed(CurrendDate);
    }

}


