﻿@page "/options"
@using Common.Enums
@using Task_13_BlazorUI.Data
@inject NavigationManager NavigationManager

<h3>Опції</h3>

<a href="/accounts">Управління рахунками</a>
<br />
<a href="" @onclick="@(() => NavigationManager.NavigateTo($"/categories/{(int)OperationType.Income}"))">Управління категоріями доходів</a>
<br />
<a href="" @onclick="@(() => NavigationManager.NavigateTo($"/categories/{(int)OperationType.Expense}"))">Управління категоріями витрат</a>
<br/>


@code {
}
