﻿@page "/periodreport"
@using System.Globalization
@using System.Reflection.Metadata.Ecma335
<h3>Звіт за період</h3>

<div>
    <button class="btn btn-primary" @onclick="DecrementMonth">-</button>
    <label>@_monthNamesDictionary[_selectedDate.Month] @_selectedDate.Year</label>
    <button class="btn btn-primary" @onclick="IncrementMonth">+</button>
</div>

<br />

<ReportUni @ref="@_reportRef" StartDate="@_startDate" EndDate="@_endDate"></ReportUni>

@code {
    private ReportUni _reportRef;
    private DateTime _selectedDate;
    private DateTime _startDate;
    private DateTime _endDate;
    private Dictionary<int, string> _monthNamesDictionary;

    public PeriodReport()
    {
        _monthNamesDictionary = MonthNamesDictionaryInit();

        _selectedDate = DateTime.Today;

        _startDate = GetFirstMonthDayDate(_selectedDate);

        _endDate = GetLastMonthDayDate(_selectedDate);
    }

    private Dictionary<int, string> MonthNamesDictionaryInit()
    {
        string[] monthNames = DateTimeFormatInfo.CurrentInfo.MonthNames;

        Dictionary<int, string> monthNamesDictionary = new Dictionary<int, string>(12);

        for (int month = 1; month <= 12; month++)
        {
            monthNamesDictionary.Add(month, monthNames[month - 1]);
        }

        return monthNamesDictionary;
    }

    private DateTime GetFirstMonthDayDate(DateTime date)
    {
        DateTime startDate = new DateTime(_selectedDate.Year, _selectedDate.Month, 1);

        return startDate;
    }

    private DateTime GetLastMonthDayDate(DateTime date)
    {
        DateTime endDate = new DateTime(_selectedDate.Year, _selectedDate.Month, DateTime.DaysInMonth(_selectedDate.Year, _selectedDate.Month));

        return endDate;
    }

    private void IncrementMonth()
    {
        _selectedDate = _selectedDate.AddMonths(1);

        RefreshDates();
    }

    private void DecrementMonth()
    {
        _selectedDate = _selectedDate.AddMonths(-1);

        RefreshDates();
    }

    private void RefreshDates()
    {
        _reportRef.StartDate = GetFirstMonthDayDate(_selectedDate);

        _reportRef.EndDate = GetLastMonthDayDate(_selectedDate);

        _reportRef.UpdateContent();
    }

}
